.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
  }
  
  .center-image {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin-bottom: 20px;
  }
  
  .search-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .rounded-input {
    border-radius: 20px;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .rounded-button {
    border-radius: 20px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  